<h1>Minimap</h1>
<div class='room-wrapper'>
    <div class='room-row'>
        <div class='room room-3'></div>
    </div>
    <div class='room-row'>
        <div class='room room-1'></div>
        <div class='room room-2'></div>
    </div>
    <div class='room-row'>
        <div class='room room-1'></div>
        <div class='room room-1'></div>
        <div class='room room-1'></div>
    </div>
    <div class='room-row'>
        <div class='room room-2'></div>
        <div class='room room-1'></div>
    </div>
    <div class='room-row'>
        <div class='room room-3'></div>
    </div>
</div>