.room-wrapper {
    border: solid 1px #222;
    display: inline-block;
}

.room-row {
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.room {
    border-top: solid 1px #222;
    border-bottom: solid 1px #222;
    border-left: solid 1px #222;
    border-right: solid 1px #222;
    display: inline-block;
}

.room.room-1 {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

.room.room-2 {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 20px;
}

.room.room-3 {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 20px;
}