<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h1>Dungeon Descent</h1>
        </div>
    </div>
    <main-menu-item text='Start Game' (fn)='gotoGame()'></main-menu-item>
    <main-menu-item text='Instructions' (fn)='gotoInstructions()'></main-menu-item>
    <main-menu-item text='About' (fn)='gotoAbout()'></main-menu-item>
    <div class='row'>
        <div class='col-md-12'>
            <p class='menu-bottom'>
                Built by Jared Hettinger
            </p>
        </div>
    </div>
</div>